.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#player-form{
  margin-left: 15px;
}

body{
  background: url(http://wallpapercave.com/wp/4swVVL8.jpg) 0 / cover fixed;
  
}

#fight, #resolve {
  left: 10px
}

#runaway {
  left: 60px
}

#item-card {
  height: 400px;
}
#hall-button, #instructions {
  margin-top: 10px;
  margin-right: 15px;
}
#item-image {
  height: 250px;
}

#item-title{
  color: cyan;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#away-title {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#door-image {
  height:250px;
}
/*items description was too low*/
#item-content{
      padding: 5px 24px 24px 24px;
}